In [1]:
import pandas as pd

ufo = pd.read_csv('datasets/uforeports.csv')

ufo.isnull().tail()
ufo.notnull().tail()

       City  Colors Reported  Shape Reported  State  Time
18236  True            False            True   True  True
18237  True            False            True   True  True
18238  True            False           False   True  True
18239  True             True            True   True  True
18240  True            False            True   True  True

In [2]:
ufo.isnull().sum()

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [3]:
pd.Series([True, False, True]).sum()

2

In [4]:
ufo[ufo.City.isnull()].tail()

      City Colors Reported Shape Reported State              Time
12441  NaN             RED       FIREBALL    WA  10/26/1998 17:58
15767  NaN             NaN      RECTANGLE    NV   1/21/2000 11:30
15812  NaN             NaN          LIGHT    NV     2/2/2000 3:00
16054  NaN           GREEN            NaN    FL    3/11/2000 3:30
16608  NaN             NaN         SPHERE    NY   6/15/2000 15:00

In [5]:
ufo.dropna(how='any').shape  # drop a row if any of the columns have a missing value

(2486, 5)

In [6]:
#  drop a row if either the column 'City' or 'Shape Reported' has a missing value
ufo.dropna(subset=['City', 'Shape Reported'], how='any').shape

(15576, 5)

In [7]:
ufo['Shape Reported'].fillna(value='VARIOUS', inplace=False).head()

0    TRIANGLE
1       OTHER
2        OVAL
3        DISK
4       LIGHT
Name: Shape Reported, dtype: object