https://cmdlinetips.com/2018/02/how-to-sort-pandas-dataframe-by-columns-and-row/

In [13]:
import pandas as pd

data_url = 'https://raw.githubusercontent.com/resbaz/r-novice-gapminder-files/master/data/gapminder-FiveYearData.csv'
# read data from url as pandas dataframe
gapminder = pd.read_csv(data_url)
# print the first three rows
print(gapminder.head(3))

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710

#### 1. How to Sort Pandas Dataframe based on the values of a column?
We can sort pandas dataframe based on the values of a single column by specifying the column name wwe want to sort as input argument to sort_values(). For example, we can sort by the values of “lifeExp” column in the gapminder data like

In [12]:
sort_by_life = gapminder.sort_values('lifeExp')
print(sort_by_life.head())

           country  year        pop continent  lifeExp    gdpPercap
1292        Rwanda  1992  7290203.0    Africa   23.599   737.068595
0      Afghanistan  1952  8425333.0      Asia   28.801   779.445314
552         Gambia  1952   284320.0    Africa   30.000   485.230659
36          Angola  1952  4232095.0    Africa   30.015  3520.610273
1344  Sierra Leone  1952  2143249.0    Africa   30.331   879.787736

In [11]:
print(sort_by_life.tail(n=3))

          country  year        pop continent  lifeExp   gdpPercap
552        Gambia  1952   284320.0    Africa   30.000  485.230659
0     Afghanistan  1952  8425333.0      Asia   28.801  779.445314
1292       Rwanda  1992  7290203.0    Africa   23.599  737.068595

#### 2. How to Sort Pandas Dataframe based on the values of a column (Descending order)?
To sort a dataframe based on the values of a column but in descending order so that the largest values of the column are at the top, we can use the argument ascending=False.

In [15]:
sort_by_life = gapminder.sort_values('lifeExp',ascending=False)
print(sort_by_life.head())

              country  year          pop continent  lifeExp    gdpPercap
803             Japan  2007  127467972.0      Asia   82.603  31656.06806
671   Hong Kong China  2007    6980412.0      Asia   82.208  39724.97867
802             Japan  2002  127065841.0      Asia   82.000  28604.59190
695           Iceland  2007     301931.0    Europe   81.757  36180.78919
1487      Switzerland  2007    7554661.0    Europe   81.701  37506.41907

### 3. How to Sort Pandas Dataframe based on a column and put missing values first?
Often a data frame might contain missing values and when sorting a data frame on a column with missing value, we might want to have rows with missing values to be at the first or at the last.

We can specify the position we want for missing values using the argument na_position. With na_position=’first’, it will have the rows with missing values first.

In [17]:
sort_na_first = gapminder.sort_values('lifeExp',na_position='first')
sort_na_first.head()

           country  year        pop continent  lifeExp    gdpPercap
1292        Rwanda  1992  7290203.0    Africa   23.599   737.068595
0      Afghanistan  1952  8425333.0      Asia   28.801   779.445314
552         Gambia  1952   284320.0    Africa   30.000   485.230659
36          Angola  1952  4232095.0    Africa   30.015  3520.610273
1344  Sierra Leone  1952  2143249.0    Africa   30.331   879.787736

#### 4. How to Sort Pandas Dataframe based on a column in place?
By default sorting pandas data frame using sort_values() or sort_index() creates a new data frame. If you don’t want create a new data frame after sorting and just want to do the sort in place, you can use the argument “inplace = True”. Here is an example of sorting a pandas data frame in place without creating a new data frame.

In [10]:
gapminder.sort_values('lifeExp', inplace=True, ascending=False)
print(gapminder.head())

              country  year          pop continent  lifeExp    gdpPercap
803             Japan  2007  127467972.0      Asia   82.603  31656.06806
671   Hong Kong China  2007    6980412.0      Asia   82.208  39724.97867
802             Japan  2002  127065841.0      Asia   82.000  28604.59190
695           Iceland  2007     301931.0    Europe   81.757  36180.78919
1487      Switzerland  2007    7554661.0    Europe   81.701  37506.41907

#### 5. How to Sort Pandas Dataframe based on Index (in place)?

In [18]:
gapminder.sort_index(inplace=True)
print(gapminder.head())

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

#### 6. How to Sort Pandas Dataframe Based on the Values of Multiple Columns?
Often, you might want to sort a data frame based on the values of multiple columns. We can specify the columns we want to sort by as a list in the argument for sort_values(). For example, to sort by values of two columns, we can do.

In [21]:
sort_by_life_gdp = gapminder.sort_values(['lifeExp','gdpPercap'])
print(sort_by_life_gdp.head())

           country  year        pop continent  lifeExp    gdpPercap
1292        Rwanda  1992  7290203.0    Africa   23.599   737.068595
0      Afghanistan  1952  8425333.0      Asia   28.801   779.445314
552         Gambia  1952   284320.0    Africa   30.000   485.230659
36          Angola  1952  4232095.0    Africa   30.015  3520.610273
1344  Sierra Leone  1952  2143249.0    Africa   30.331   879.787736

In [22]:
sort_by_life_gdp = gapminder.sort_values(['gdpPercap','lifeExp'])
print(sort_by_life_gdp.head())

             country  year         pop continent  lifeExp   gdpPercap
334  Congo Dem. Rep.  2002  55379852.0    Africa   44.966  241.165877
335  Congo Dem. Rep.  2007  64606759.0    Africa   46.462  277.551859
876          Lesotho  1952    748747.0    Africa   42.138  298.846212
624    Guinea-Bissau  1952    580653.0    Africa   32.500  299.850319
333  Congo Dem. Rep.  1997  47798986.0    Africa   42.587  312.188423