In [6]:
import pandas as pd
import numpy as np

# create df and add NaNs
df = pd.DataFrame(np.random.randn(10,2))
df.iloc[3:6,0] = np.nan
df

          0         1
0  1.134626  1.148853
1 -0.343995 -0.386628
2 -0.372285  0.719524
3       NaN  0.385157
4       NaN  0.642750
5       NaN  0.790827
6 -0.609981  0.055285
7  0.229947 -0.913948
8 -0.945804  0.547281
9  0.192140 -0.768290

In [8]:
# see count - it says there are only 7 in col 0
df.describe()

              0          1
count  7.000000  10.000000
mean  -0.102193   0.222081
std    0.686491   0.699911
min   -0.945804  -0.913948
25%   -0.491133  -0.276149
50%   -0.343995   0.466219
75%    0.211044   0.700331
max    1.134626   1.148853

In [9]:
# shows 7 non-null vs 10 non-null 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
0    7 non-null float64
1    10 non-null float64
dtypes: float64(2)
memory usage: 288.0 bytes

In [10]:
# this gives an exact count of nulls in col 0 & 1
len(df.index)-df.count()

0    3
1    0
dtype: int64